@model GoTB.Domain.Entities.Character

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<fieldset>
    <legend>Character</legend>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Name)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Name)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Description)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Description)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Price)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Price)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.IsMan)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.IsMan)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Age)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Age)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.IsAlive)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.IsAlive)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.PopularityPoints)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.PopularityPoints)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.ImageName)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.ImageName)
    </div>
</fieldset>
<p>
    @Html.ActionLink("Edit", "Edit", new { id=Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
