@using GoTB.Domain.Entities
@using GoTB.WebUI.Models
@model GoTB.WebUI.Models.CharacterViewModel

<h3>@Model.Character.Name</h3>
<div class="character_div">
    <p>
        <img class="character_img" src="@(GoTB.WebUI.Models.CharacterConstants.PathToImages + @Model.Character.ImageName)" alt="@Model.Character.Name" />
        <div class="param">
            Возраст: @Model.Character.Age<br/>
            @Html.EditorFor(m => m.Character.Gender, "Enum_fields") <br/>
            @Html.EditorFor(m => m.Character.IsAlive, "Enum_fields")<br/>
            Стоимость: @Model.Character.Price
            @{ var bvm = new ButtonViewModel()
               {
                   Controller = "Cart",
                   TextIfNotNeeded = "Вы уже проголосовали на этой неделе",
                   HiddenParams = new Dictionary<string, string>() {{"id", Model.Character.Id.ToString()}}
               }; }
            @switch (Model.VoteType)
            {
                case VoteType.CanVote:
                    bvm.Method = "Manage";
                    bvm.NeedToShowButton = true;
                    bvm.TextButton = "Проголосовать!";
//                    using (Html.BeginForm("Manage", "Cart"))
//                    {
//                        @Html.Hidden("id", Model.Character.Id)
//                        <input type="submit" value="Проголосовать!"/>
//                    }
                    break;
                case VoteType.AlreadyVoted:
                    bvm.Method = "Remove";
                    bvm.NeedToShowButton = true;
                    bvm.TextButton = "Разголосовать!";
@*                    using (Html.BeginForm("Remove", "Cart"))*@
@*                    {*@
@*                        @Html.Hidden("id", Model.Character.Id)*@
@*                        <input type="submit" value="Разголосовать!"/>*@
@*                    }*@
                    break;
                default:
                    bvm.NeedToShowButton = false;
                    bvm.TextIfNotNeeded = "Вы не можете проголосовать сейчас";
@*                    <div>Вы не можете проголосовать сейчас</div>*@
                    break;
            }
            @{ Html.RenderAction("SubmitButton", "Cart", bvm); }
        </div>
        <div class="descr">
            @Model.Character.Description
        </div>
    </p>
    <br />

</div>
