@using GoTB.WebUI.HtmlHelpers
@using GoTB.WebUI.Models
@model CharactersListViewModel
@{
    ViewBag.Title = "Characters";
}

<h2>@ViewBag.Title</h2>

@foreach (var character in @Model.Characters)
{
    <h3>@character.Name</h3>
    <div class ="character_div">
        <p>
            <img class="character_img" src="@(GoTB.WebUI.Models.CharacterConstants.PathToImages + @character.ImageName)" alt="@character.Name"/>
            <div>
                Возраст: @character.Age<br/>
                @(character.IsMan ? "Мужчина" : "Женщина") <br/>
                @(character.IsAlive ? "Еще пока что жив..." : "Умер")<br/>
                Стоимость: @character.Price
            </div>
        </p>
        <br/>

    </div>
}

<div class="pager">
    @Html.PageLinks(Model.PagingInfo, x => Url.Action("Index", new { page = x }))
</div>
