@model GoTB.Domain.Entities.Character[]
@{
    ViewBag.Title = "Characters";
}

<h2>@ViewBag.Title</h2>

@foreach (var character in @Model)
{
    <div>
        <h3>@character.Name</h3><br/>
        <p>
            <img src="@(GoTB.WebUI.Models.CharacterConstants.PathToImages + @character.ImageName)" alt="@character.Name"/>
            <div>
                Возраст: @character.Age<br/>
                @(character.IsMan ? "Мужчина" : "Женщина") <br/>
                @(character.IsAlive ? "Еще пока что жив..." : "Умер")<br/>
                Стоимость: @character.Price
            </div>
        </p>

    </div>
}
    