@using GoTB.WebUI.HtmlHelpers
@using GoTB.WebUI.Models
@model CharactersListViewModel
@{
    ViewBag.Title = "Characters";
}

<h2>@ViewBag.Title</h2>

@foreach (var filter in FilterModels.FilterDescription.Keys)
{
    @Html.ActionLink(FilterModels.FilterDescription[filter], "Index", "Home", new {filter = filter.ToString()}, null)
    <br/>
}

<br/>
@using (Html.BeginForm("Index", "Home", FormMethod.Get))
{
    <div>Поиск по подстроке в имени</div>
    @Html.DropDownList("filter", 
        Enum.GetNames(typeof(FilterBy))
        .Select(x => new SelectListItem() {Text = x, Value = x, Selected = x == ViewBag.filter.ToString()}))
    @Html.TextBox("substring");
    <input type="submit" value="Поиск" />
}

<br/>

@foreach (var character in @Model.Characters)
{
    <h3>@character.Name</h3>
    <div class ="character_div">
        <p>
            <img class="character_img" src="@(GoTB.WebUI.Models.CharacterConstants.PathToImages + @character.ImageName)" alt="@character.Name"/>
            <div>
                Возраст: @character.Age<br/>
                @(character.IsMan ? "Мужчина" : "Женщина") <br/>
                @(character.IsAlive ? "Еще пока что жив..." : "Умер")<br/>
                Стоимость: @character.Price
                @using (Html.BeginForm("Manage", "Cart"))
                {
                    @Html.Hidden("id", character.Id)
                    <input type="submit" value="Проголосовать!" />
                }
            </div>
        </p>
        <br/>

    </div>
}

<div class="pager">
    @Html.PageLinks(Model.PagingInfo, x => Url.Action("Index", new { page = x, ViewBag.filter, ViewBag.substring}))
</div>
